includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false

    paths:
        - app/
        - config/
        - database/
        - routes/

    level: 6

    excludePaths:
        - bin/
        - node_modules/
        - vendor/
        - tests/
        - resources/
